<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Travel Planer</title>
<!-- <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="style.css"> -->
</head>
 <body>
  <!-- HEADER -->
  <header>
    <div class = "headercontainer">
      <div id="navbarview">
        <a href="" onclick="return false;">navigation</a>
      </div>
      <div id="space"></div>
      <div id="headline">
          Travel Planner
      </div>
    </div>
  </header>

  <!-- MAIN_GRID -->
  <main id="main" class="grid-full">
    <!-- NAV_BAR -->
    <div id="navbar" class="holder fadeIn grid-navbar">
      <div id="location">
        <label for="location" id="locationlabel">Where are you going?</label>
        <input type="text" id="locationinput" placeholder="enter your next travel location">
      </div>
      <div id="startdate">
        <label for="startdate" id="startdatelabel">From</label>
        <input type= "date" id="startdateinput" min="2022-06-01" max="2030-07-01">
      </div>
      <div id="enddate">
        <label for="enddate" id="enddatelabel">Till</label>
        <input type= "date" id="enddateinput" min="2022-06-01" max="2030-07-01">
      </div>
      <div id="bAdd"> 
        <button id="add" type = "submit">Enter</button>
      </div>
    </div>
    <!-- TRAVEL_PLAN  -->
    <div id="travelplan">
      <div class="heading holder">Most Recent Entry</div>
      <div id="travelcard" class="holder grid-travelcard">
        <div id="title" class="holder">
          <div class="label">Next journey destination: </div>
          <div id="traveldestination">London</div>
        </div>
        <div id="dates" class="holder">
          <div class="label">From:</div>
          <div id="datefrom">01.01.2017</div>
          <div class="label">Until:</div>
          <div id="dateuntil">02.01.2017</div>
        </div>
        <div id="counter" class="holder">
          <div class="label"><span>Countdown</span></div>
          <div id="countdown">17</div>
          <div class="label"> days until journey start</div>
        </div>
        <div id="weather" class="holder">
        </div>
        <div id="content" class="holder">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora aut reprehenderit harum, aliquam cupiditate inventore natus ipsa eos est, fugit necessitatibus fugiat et maxime eum. Sint ullam cupiditate odio eos.</p>
        </div>
        <div id="pictureholder" class="holder"></div>
      </div>
    </div>
  </main>

  <!-- FOOTER  -->
  <footer>
    <div class="info">
      <p>This is a footer</p>
    </div>
  </footer>
</body>
</html>