.headercontainer{
    display: grid;
    width: 98%;
    height: auto;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto ;
    grid-template-areas: 
    "nav space head" ;
    grid-gap: 10px;
    z-index: 1;
    margin-top: 10px;
    padding-top: 10px;
}

#navbarview{
    margin-left: 10px;
    border: 1px solid black;
    grid-area: nav;
}

#space{
    grid-area: space;
}

.headline{
    border: 1px solid black;
    grid-area: head;
}

a {
    color: black;
}
a:link, a:visited {
    text-decoration: none;
}

