header {
    position: fixed;
    width: 100vw;
    height: 75px;
    top: 0;
    left:0;
    background: tomato;
    z-index: 2;
    color: black;
    border-bottom: 1px solid rgb(220, 220, 220);
    border-top: 2px solid rgb(220, 220, 220);
}

#main{
    padding-top: 75px;
    padding-bottom: 75px;
    justify-content: center;
}

.grid-full{
    display: grid;
    width: 98vw;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto minmax(100px, auto);
    grid-template-areas:
    "n n"
    "t t";
    grid-gap: 10px;
    z-index: 1;
}

#navbar{
    grid-area: n;
    transition: height 1s;
    overflow: hidden;
    background: rgb(44, 136, 193);
}

.fadeOut{
    height: 0px;
    border:none;
    padding: 0px;
}
.fadeIn{
    height: 80px;
}

#travelplan{
    grid-area: t;
    background: wheat;
    border-top: 2px solid #444;
    border-bottom: 2px solid #444;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.isvisible{
    visibility: visible;
}
.isnotvisible{
    visibility: hidden;
}

footer{
    position: fixed;
    width: 100vw;
    height: 75px;
    bottom: -5px;
    left:0;
    background: tomato;
    z-index: 2;
    color: black;
    border-top: 1px solid rgb(220, 220, 220);
    // border: 1px solid rgb(255, 255, 255);
}

@media (min-width:800px) {
    // .main{
    //     grid-template-columns: 300px 1fr;
    //     grid-template-rows: auto;
    //     grid-template-areas: 
    //     "nb tc";
    // }
    // .navbar{
    //     // margin: 5px;
    // }
    // .travelcard{
    //     // margin: 5px;
    // }
}