.heading{
    background: yellow;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

#travelcard{
    background: white;
    padding: 5px;
}

.grid-travelcard{
    display: grid;
    width: 99%;
    grid-template-columns: minmax(500px, auto);
    grid-template-rows: auto auto auto minmax(500px, auto) auto;
    grid-template-areas:
    "title"
    "dates"
    "counter"
    "picture"
    "weather"
    "content";
    grid-gap: 5px;
    z-index: 1;
}

#title{
    grid-area: title;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: skyblue;
}
#title > div {
    margin-right: 5px;
    margin-left: 5px;
}
.label{
    font-size: 0.8em;
    color: rgb(40, 40, 40);
    
}
#traveldestination{
    font-weight: bold;
    font-size: 1.2em;
}

#dates{
    grid-area: dates;
    display: flex;
    flex-direction: row;
    background: skyblue;
}
#dates > div{
    margin-right: 5px;
    margin-left: 5px;
}
#datefrom{
    font-style: italic;
    font-size: 0.8em;
}
#dateuntil{
    font-style: italic;
    font-size: 0.8em;
}

#counter{
    grid-area: counter;
    display: flex;
    flex-direction: row;
    background: skyblue;
}
#counter > div{
    margin-right: 5px;
    margin-left: 5px;
}
#countdown{
    font-weight: bold;
    font-size: 1.2em;
}

#weather{
    grid-area: weather;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: whitesmoke;
    overflow: scroll;
    text-align: center;
}

#content{
    grid-area: content;
    background: skyblue;
    font-size: 0.8em;
}

#pictureholder{
    grid-area: picture;
    width: 100%;
    max-height: 100%;
    background: whitesmoke;
    text-align: center;
}
#picture{
    width: 100%;
    max-height: 100%;
    background: whitesmoke;
    object-fit: cover;
}

.weather-item{
    border-radius: 4px;
    border: 1px solid #444;
    border-top: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
    min-width: 100px;
    height: 100px;
    margin: auto;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.weather-item-date{
    color: #444;
    font-size: 12px;
}

.weather-item-temp{
    color: blue;
    font-size: 14px;
    font-weight: bold;
}

.weather-item-minmax{
    color: #444;
    font-size: 10px;
}

@media (min-width:1000px) {
    .grid-travelcard{
        grid-template-columns: minmax(300px, auto) 600px;
        grid-template-rows: 50px 50px 50px minmax(200px, auto) 120px;
        grid-template-areas:
        "title picture"
        "dates picture"
        "counter picture"
        "content picture"
        "content weather";
    }
    // .navbar{
    //     // margin: 5px;
    // }
    // .travelcard{
    //     // margin: 5px;
    // }
}